* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
body{
    width: 100%;
    background-color: #ffffff;
}
form {
    background-color: #f1eaea;
    position: absolute;
    width: 400px;
    height: 270px;
    padding: 10px 05px 20px 05px;
    margin: -10vh 800px;
    border-radius: 05px;
    box-shadow: 05px 05px 05px -05px
}
input[type='text'], input[type='password']{
    display: block;
    background-color: #ffffff;
    margin: auto;
    border: 1.5px solid rgb(200, 200, 200);
    padding: 10px 40px;
    border-radius: 05px;
    text-align: center;
    color: black;
    font-family: 'Segoe UI';
    font-size: 15px;
    width: 285px;
}
button {
    border: none;
    background-color: #1817f2;
    color: white;
    border-radius: 05px;
    margin: auto;
    display: block;
    width: 360px;
    padding: 15px 0;
    font-weight: 500;
    cursor: pointer;
}
.f-pass {
    display: block;
    color: #1877f2;
    margin: auto;
    width: 200;
    padding-left: 80px;
    font-family: segoe 'Segoe UI';
    font-weight: 400;
}
.line{
    border-top: 1px solid #222;
    opacity: 0.2;
}
.bnt2 {
    width: 180px;
    font-size: 16px;
    background-color: #42b72a;
    text-align: center;
}
.sub-link h3{
    width: 270px;
    color: black;
    position: relative;
    font-size: 12px;
    font-family: 'Segoe UI', Arial;
    padding: 130px 890px;
    font-weight: 700;
}
.sub-link h3 a {
    font-size: 13px;
    color: black;
    font-weight: 400;
}
.f-container {
    width: 300px;
    margin-left: 300px;
    margin-top: 30vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.f-container img {
    width: 280px;
}
p {
    font-size: 50 px;
    font-weight: 600;
    word-spacing: 03px;
}